body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6e9abe;
    font-family: 'Segoe UI', sans-serif;
}

.calculator {
    background-color: #352b2b;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 320px;
}

.display {
    width: 95%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #e0f2f1;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #b2dfdb;
}

.operator {
    background-color: #80cbc4;
    color: white;

}

.operator:hover {
    background-color: #4db6ac;
}

.equal {
    background-color: #00796b;
    color: white;
    grid-column: span 2;



}

.clear {
    background-color: #d32f2f;
    color: white;
    grid-column: span 4;
}

.clear:hover {
    background-color: #b71c1c;
}